    <h3>What is SpaGroups?</h3>
    <p>SpaGroups connects you with other spa-goers for <strong> group discounts </strong> at the world's best <strong> all-inclusive spas and resorts</strong>.</p>

    <h3>How does SpaGroups work?</h3>
    <p>All-inclusive spa resorts frequently give discounts to groups. SpaGroups helps you connect with other spa-goers to obtain these group discounts.</p>
    
    <h3>Do I have to know the other members of the group?</h3>
    <p>No, you do not need to know the other members of your group (since you are all connected as honored guests of SpaGroups.com) and you don't have to hang out with anyone unless you so desire - it's your spa vacation to enjoy as you please!</p>  

    <h3>What do I need to do to join a group?</h3>
    <p>To join a group, you must submit your deposit only and online registration form so we can pass your reservation request to the resort. If your group fills, you can arrive on the group arrival date and enjoy... We strongly recommend that you join your group's Facebook&trade; group so you can mingle with the other group members and ask questions of the group leader prior to your arrival.</p>

    <h3>Why is there a Facebook&trade; group for my trip?</h3>
    <p>We require each group leader to set up a Facebook&trade; group because it allows them to communicate information to the group (e.g. when it's time to book your spa appointments) and allows you to connect with the other group members if you so desire.</p> 

    <h3>What if I already have a group of 2-8 friends who want to form a group?</h3>
    <p>If you DO have a group of friends and want to find another group so you can meet the group minimum required by the spa to obtain group discounts, then SpaGroups is perfect for you.</p>

    <h3>What if I am travelling alone? Is SpaGroups&trade; for me?</h3>
    <p>If you are a traveling alone, then SpaGroups is also a perfect way to obtain group discounts whether you prefer to connect with your group at the resort or simply have your own solo spa retreat - it's totally up to you.</p>

    <h3>Do I have to become a member to use SpaGroups?</h3>
    <p>You only need to become a Premium Member if you apply and are accepted as a Group Leader; otherwise we consider you a free member as soon as you login, submit an email, or register for one of our group trips.  For complete details, please see our membership terms and conditions.
    By becoming a member, you have access to group rates and SpaGroups becomes your exclusive spa agent for your spa resort hotel stay.</p>

    <h3>How do I become a group leader?</h3>
    <p>We are currently accepting applications for group leaders. If you are great with people and are an expert at one of our luxury spa resorts and wish to be a group leader, you can obtain even better discounts up to and including a complimentary, all-inclusive spa vacation (depending on the policies of the specific resort).  You can keep your group private or allow other SpaGroups members to join your group.</p>

    <h3>What is the expiration date? Why is it before the arrival date?</h3>
    <p>Groups must meet the group minimum by the expiration (aka "cut-off") date which is set by the resort and is typically 60 days prior to arrival.  This means that the group minimum (again, defined by the resort but typically 8 guests) must have paid their deposits by this date.  When the group meets the minimum, the group is considered "active" and anyone can join up to the capacity contracted by the group leader.</p>

    <h3>What if my group doesn't fill by the cut-off date?</h3>
    <p>The spa may, at their discretion and as an occasional courtesy, extend the cut-off date to allow your group more time to fill.  Otherwise, you can simply book your stay at the best available non-group rate and we can pass your depost directly to the spa or, if you prefer, we can simply refund 100% of your deposit and your trip is cancelled with no risk to you.</p>
    
    <h3>When do you transfer my deposit to the spa?</h3>
    <p>As soon as your group fills, your deposit is transferred to the spa. If your group does not fill by the cut-off date, 100% of your deposit is returned or, if your prefer, is passed onto the spa and you can maintain your stay at the best available, non-group rates.</p>
    </div>
    <br/>
    <br/>
  </div>
</div>