<div id="thank_you">

<h2 style="margin-top:50px;">Thank you for attempting to register</h2><br/>
<h5>Sadly, SpaGroups is no longer running retreats - this is simply a demo Ruby on Rails web application. If you'd like to donate to Adam simply because he is awesome, feel free to send me money, sure!</h5><br/>
      <%= link_to('Donate',"https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EGJA6Q9JGDCC4", :class => "button large round", :id => "register_button") %>
</div>