
  <div class="boxAndSkip">
      <div class="background">
          <div class="content">
            <p class="headline">The Best Kept Secret in <br>Luxury Spa Travel</p>
            <span id="tagline" >Join a Group &amp; Save Up to 50% </span>
            <div><%= image_tag('splashlogo.png', id: "image")%></div>
              <form method="post" action="http://www.aweber.com/scripts/addlead.pl ">
              <input type="hidden" name="listname" value="spagroups_basic" />
              <input type="hidden" name="redirect" value="http://www.spagroups.com/vip-thankyou.php" />
              <input type="hidden" name="meta_adtracking" value="custom form" />
              <input type="hidden" name="meta_message" value="1" /> 
              <input type="hidden" name="meta_required" value="email" /> 
              <input type="hidden" name="meta_forward_vars" value="1" /> 
              <input type="text" onfocus="if(this.value == 'email@address.com') { this.value = ''; }" name="email" value="email@address.com" /> 
              <input style="padding:5px 0px 0px 0px;" type="submit" name="submit" value="Join the VIP List" /> 
              </form>
              <p class="vipList">Enter your email to be notified of last-minute deals.</p> 
              <br>
            <span class="spamline">We protect your privacy and will not share your information with any other organization. </span>
          </div>
      </div>
      <p id="skip"><a href="home.php">Skip to Website > </a></p>
  </div>

<style> 
html {
  background: url(sauna.png)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container {
  width: 100%;
  height: 100%;
}
#skip {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-style: bold;
  color: #ff68fd;
  width: 100%;
  text-align: right;
  margin-top: 1px;
}
#skip a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
#skip a:hover {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #f11fff;
} 
.footer {
  width:100%;
  bottom: 2%;
  font-size: .7em;
  color: #ff68fd;
  position:absolute;
  background-color: none;
  height:80px;
  font-family:Arial, Helvetica, sans-serif;
  clear:both;
  text-align:left;
}
.footer a {
  color: #ff68fd;
  text-decoration:none;
}
.footer a:hover {
  color: #fdd5fd;
  text-decoration:underline;
}
.background {
width: 535px; 
height: 315px;
padding: 2px;
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 7%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(7%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 7%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 7%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 7%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 7%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.content {
  text-align: center;
  color: #ffffff
}
.headline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight:bold;
    margin-top: .3em;
  margin-bottom: 0.1em;
}
#tagline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
.vipList {
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  margin: 8px 0px -12px 0px;
}
.spamline {
  font-size: .7em;
  width: 100%;
  text-align: center;
  padding: 0px 20px 10px 20px;
}
#image {
  margin: .2em 0em 0em 0em;
  width: 220px;
  height: 40px;
}
.boxAndSkip {
  background-color: none;
  width: 500px;
  height: 320px;
  margin: 15% 34%;
/*  margin: 14% 0% 0% 32%; */
}
input[type=text]:focus { 
background-color: #ffb1f9;
text-align: left;
}
input[type=text] {
 font-size: 1.4em;
/* font-weight: bold;*/
 width: 65%;
 height: 1.4em;
  border-radius: 5px;
 background-color: white;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
}
input[type=submit] {
  border-color: gray;
  border:solid 2px;
 font-weight: bolder;
  border-radius: 15px;
    box-shadow: 4px 4px 0px 0px;
 font-size: 1.3em;
 width: 35%;
 height: 1.8em;
 margin: 5px 0px 0px 0px;
 font-style: bold;
 min-height: 40px;
}
input[type=submit]:hover {
  background-color: hotpink;
}
/*media queries*/
@media screen and (max-width: 575px) {
.background {
width: 250px; 
height: 250px; 
}
.boxAndSkip {
  background-color: none;
  width: 250px;
  height: 250px;
  margin: 30% auto;
}
input[type=text] {
 font-size: 1.1em;
 width: 90%;
}
input[type=submit] {
 font-size: 1.1em;
 width: 20%;
}
</style>