<div class="row">
  <div class="large-9 columns" role="content">
    <hr/>
  </div>
  <aside class="large-3 columns">   
    <div class="side-nav">
      <div style="height:240px; width:217px">
        <div style="padding:0px 0 0 0px; margin:-20px 0px 0px 0px; color: grey; font-weight:1.2em">Inspired Yoga & Spa Apparel:</div>
        <div>
          <%= link_to(image_tag("belove2.png", height: "200px", width: "217px", alt: "", id: "ad1" ), "http://www.beloveapparel.com/women/")%>
        </div>
      </div>
      <div style="height:240px; width:217px">
        <div>
          <%= link_to(image_tag("belove.png", height: "200px", width: "217px", alt: "", id: "ad1" ), "http://www.beloveapparel.com/women/")%>
        </div>
      </div>
    </div>
  </aside>
</div>
     
       
     
     
       
  