<div class="row">
  <div class="large-9 columns">
    <% @retreats.each do |retreat| %>
      <div class="roundedImage" style="height:263px; width:419px; float:left; cursor:normal; margin:0 10px 10px 0;">
				<div class="black_bottom">
					<div style="float:left; margin:9px 0 0 10px;" class="links"><br />
					<span style="font-size:16px; color:#CCC"></span></div>
					<div style="float:right; margin:9px 10px 0 0px; text-align:right"><span style="font-size:11px; color:#CCC">Arrival: <%= retreat.arrival_date %></span> <span class="links"><br/>
					</div>
				</div>
      </div>
    <% end %>
	</div>



