<!-- <div class="row">
  <div class="large-9 columns">
     	<h5>Name: <%# @retreat.name %></h5>
     	<h5>Spa: <%# @retreat.spa.name %></h5>
     	<h5>City/State: <%# @retreat.spa.citystate %></h5>
      <h5>Arrival date: <%# @retreat.arrival_date.strftime("%B %d, %Y") %></h5>
     	<h5>Registered: <%# @retreat.registered %></h5>
      <h5>Confirmed: <%# @retreat.confirmed %></h5>
     	<h5>Group rates at: <%# @retreat.group_rates_at %></h5>
      <h5>Comp stay at: <%# @retreat.comp_stay_at %></h5>
      <h5>Retreat description: <%# @retreat.description %></h5>
      <%# link_to('Register',"http://paypal.com", :class => "button medium") %>
      <hr>
	</div>
</div>
 -->

