<div class="row">
  <div class="medium-9 columns" role="content">
    <div id="reservations">

      <%= render 'calendar' %>
    
    </div>
    <span>*Includes all destination spa locations.</span>
  </div>
  <aside class="medium-3 columns">   
    <div class="side-nav">
      <div style="height:240px; width:217px">
        <div style="padding:0px 0 0 0px; margin:-20px 0px 0px 0px; color: grey; font-weight:1.2em">Inspired Yoga & Spa Apparel:</div>
        <div>
          <%= link_to(image_tag("belove2.png", height: "200px", width: "217px", alt: "", id: "ad1" ), "http://www.beloveapparel.com/women/")%>
        </div>
      </div>
      <div id="responsiveAd1"> <!-- Google Adsense Code -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:217px;height:217px"
                     data-ad-client="ca-pub-1429880673944819"
                     data-ad-slot="5824155682"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
       </div> <!-- END Google Adsense Code -->  
      <div id="responsiveAd2"> <!-- Google Adsense Code -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:inline-block;width:217px;height:240px"
                     data-ad-client="ca-pub-1429880673944819"
                     data-ad-slot="5824155682"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
       </div> <!-- END Google Adsense Code --> 
    </div>
  </aside>
</div>
     
       