    <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>©<%= Time.now.year %> SpaGroups LLC</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><%= link_to('FAQ', :controller => 'static_pages', :action => 'faq') %></li>
            <li><%= link_to('Privacy Policy', :controller => 'static_pages', :action => 'privacy_policy') %></li>
            <li><%= link_to('Terms of Use', :controller => 'static_pages', :action => 'terms_of_use') %></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>